.titulo-productos{
    margin-top: 20px;
    text-align: center;
    font-family: fantasy;
}

.body-content{
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(38,106,188,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(38,106,188,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(38,106,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#266abc",GradientType=1);   
}

.card-producto{
    margin-top: 20px;
    margin-left: 500px;
}
